@import "tailwindcss";

@theme {
  --color-bg: #0f172a;
  --color-border: #334155;
  --color-text: #e2e8f0;
  --color-text2: #94a3b8;
  --color-card: #1e293b;
  --color-anchor: #324496;
  --color-primary: #2563eb;
  --color-accent: #38bdf8;
  --color-cta: #10b981;
  --color-warning: #f97316;
  --color-danger: #ef4444;

  --font-sans: "Inter", system-ui, sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.25rem;

  --animate-swipe: swipe 30s linear infinite;
}

.animate-swipe:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes swipe {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
